.dashboard-card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.dashboard-card:hover {
    transform: translateY(-5px);
}

.icon-wrapper {
    text-align: center;
    margin-bottom: 10px;
}

.icon-wrapper img {
    max-width: 50px;
    max-height: 50px;
}

.card-button-style {
    display: block;
    width: 100%;
    margin-top: auto;
}
